@import 'styles/main.scss';

.selectedItem {
    display: flex;
    width: 220px;
    padding: 8px;
    border:1px solid $border-color-dark;
    border-radius: 5px;
}

.optionWrapper {
    background-color: $primary-background-color;
    position: absolute;
    width: 230px;
    margin: 0;
    ul {
        padding: 5px;
        margin-top: 5px;
        box-shadow: 5px 3px 10px 1px #e0dede;

        li {
            display: flex;
            padding: 0 8px;
            margin: 15px 0;
        }
    }
}

