@import 'styles/main.scss';


.mainContent {
    margin: 0 10%;
    
}

.rowsContainer >div:nth-child(n+2) {
    margin-top: 10px;
}

.addBtnContainer {
    display: flex;
    margin: 20px 0 50px 0;
}

.searchResetButtons {
    margin: 20px 0 50px 0;
}

.searchButton {
    margin-right: 20px;
}

