@import 'styles/main.scss';


.mainContent {
    // background-color: $primary-background-color;
    margin: 0 10%;
    
}

.rowsContainer div:nth-child(n+2) {
    margin-top: 10px;
}

.addBtnContainer {
    display: flex;
    margin: 20px 0;
}